body{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%,rgba(0, 0, 0, 0.5)50%),url(./Assets/RegBackground.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}